{:paths ["src"]
 :deps  {
         org.apache.maven/maven-model {:mvn/version "3.5.4"}
         org.clojure/tools.deps.alpha {:mvn/version "0.5.460"}
         user.java.io                 {:mvn/version "2018.286.80350"}
         }

 :aliases
 {:provided {:extra-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}
  :doc      {:extra-paths ["src-doc"]}}}
